*{
    padding: 0;
    margin: 0;
    border: 0;
    /* box-sizing: border-box; */
}

body{
    background-color: rgb(16, 17, 17);
    color: aliceblue;
}

.main{
    /* height: 100vh; */
    /* background-color: green; */
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.container{
    /* height: 300px; */
    width: 400px;
    background-color: rgb(235, 197, 11);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.heading{
    width: 400px;
    display: flex;
    justify-content: center;
}

h1{
    color: black;
    margin: 0px 0px 30px 0px;
    padding: 5px;
}

h2{
    margin-left: 10px;
    color: black;
}

input{
    padding: 5px;
    border-radius: 6px;
    margin-left: 10px;
}

.search{
    /* background-color: green; */
    width: 400px;
}

.searchbtn{
    padding: 3px;
    border-radius: 5px;
    margin-left: 50px;
}

.result{
    /* background-color: red; */
    width: 400px;
}

p{
    margin-left: 10px;
    color: black;
}

p.meaning{
    /* background-color: blue; */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    margin-left: 10px;
    color: black;
}

.audio{
    /* background-color: blue; */
    width: 400px;
}

.sound{
    padding: 3px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 240px;
}